<div class="col-12 p-3 row m-0">
	<div class="col-12 p-0 row m-0">
		<div class="col-md-3 col-12 p-2">
			<div class="col-12 border-1 p-3 white row m-0">
				<h6 class="w-100 font-9">Total Users Count</h6>
				<div class="row m-0 w-100 align-items-center">
					<span class="l-h-normal"><i class="material-icons green-text font-2">timeline</i></span>
					<span class="ml-auto rgba-cyan-slight px-3 py-1 font-9 green-text radius_50">{{user_count}}</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-12 p-2">
			<div class="col-12 border-1 p-3 white row m-0">
				<h6 class="w-100 font-9">Total Cars Count</h6>
				<div class="row m-0 w-100 align-items-center">
					<span class="l-h-normal"><i class="material-icons red-text font-2">timeline</i></span>
					<span class="ml-auto rgba-red-slight px-3 py-1 font-9 red-text radius_50">{{car_count}}</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-12 p-2">
			<div class="col-12 border-1 p-3 white row m-0">
				<h6 class="w-100 font-9">Total Bookings Count</h6>
				<div class="row m-0 w-100 align-items-center">
					<span class="l-h-normal"><i class="material-icons purple-text font-2">timeline</i></span>
					<span class="ml-auto rgba-purple-slight px-3 py-1 font-9 purple-text radius_50">{{booking_count}}</span>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-12 p-2">
			<div class="col-12 border-1 p-3 white row m-0">
				<h6 class="w-100 font-9">Total Payments received</h6>
				<div class="row m-0 w-100 align-items-center">
					<span class="l-h-normal"><i class="material-icons orange-text font-2">timeline</i></span>
					<span class="ml-auto rgba-orange-slight px-3 py-1 font-9 orange-text radius_50">${{total_amount}}</span>
				</div>
			</div>
		</div>
	</div>
	<div class="col-12 col-md-6 p-2 my-2">
		<div class="col-12 white p-4">
			<h6 class="bold_font mb-3">Users Info</h6>
			<canvas mdbChart
			  [chartType]="chartType"
			  [datasets]="chartDatasets"
			  [labels]="chartLabels"
			  [colors]="chartColors"
			  [options]="chartOptions"
			  [legend]="true"
			  (chartHover)="chartHovered($event)"
			  (chartClick)="chartClicked($event)">
			</canvas>			
		</div>
	</div>
	<div class="col-12 col-md-6 p-2 my-2">
		<div class="col-12 white p-4">
			<h6 class="bold_font mb-3">Cars Info</h6>
				<canvas mdbChart
				  [chartType]="barchartType"
				  [datasets]="barchartDatasets"
				  [labels]="barchartLabels"
				  [colors]="barchartColors"
				  [options]="barchartOptions"
				  [legend]="true"
				  (chartHover)="barchartHovered($event)"
				  (chartClick)="barchartClicked($event)">
				</canvas>			
		</div>
	</div>
</div>