<div class="col-12 px-0 mt-6 search_result">
    <div class="row m-0 h-100">
        <div class="col-lg-3 p-0">
            <div class="p-3 border-right position-fixed overflow-auto w-lg-25 side_filters z-index-2 white" [ngClass]="{'active': filter}">
                <a href="javascript:void(0)" class="ml-auto d-lg-none d-inline-flex mb-3 primary-text-color" (click)="open_filter()">Go to result</a>
                <h5 class="font-9 text-uppercase mb-3">Terms</h5>
                <mat-form-field appearance="outline" class="font-9 w-100">
                    <mat-label>Terms</mat-label>
                    <mat-select [(value)]="term" class="" (selectionChange)="get_search_results(page)">
                        <mat-option value="all">All</mat-option>
                        <mat-option value="1">1 month</mat-option>
                        <mat-option value="3">3 months</mat-option>
                        <mat-option value="6">6 months</mat-option>
                        <mat-option value="12">12 months</mat-option>
                        <mat-option value="18">18 months</mat-option>
                    </mat-select>
                </mat-form-field>
                <h5 class="font-9 text-uppercase mb-2">Payment</h5>
                <div class="mb-3 pb-3 border-bottom">
                    <ng-container *ngIf="term != 'all'">
                        <ng5-slider class="font-9" [(value)]="min_price" [(highValue)]="max_price" [options]="options" (userChangeEnd)="get_search_results(page)" [manualRefresh]="manualRefresh"></ng5-slider>
                    </ng-container>
                    <p *ngIf="term == 'all'" class="mb-0 font-9 grey-text">Please choose a term</p>
                </div>
                <h5 class="font-9 text-uppercase">Makes</h5>
                <div class="col-12 p-0 row m-0 mb-4 border-bottom">
                    <div class="col-4 mb-2" *ngFor="let make of makes; let i = index">
                        <label class="pointer" (click)="make_change(make.id)"><img src="{{make.makephoto}}" [ngClass]="{'active': active_make==make.id}" class="w-100 h-80x greyscale o-contain" /></label>
                    </div>
                </div>
                <h5 class="font-9 text-uppercase mb-2">Models</h5>
                <div class="col-12 p-0 row m-0 mb-4 pb-3 border-bottom">
                    <ng-container *ngIf="models?.length > 0">
                        <label class="py-1 px-3 mr-2 border-1 pointer font-9" (click)="model_change(model)" [ngClass]="{'orange darken-3 text-white': active_model==model}" *ngFor="let model of models; let i = index">{{model}}</label>
                    </ng-container>
                    <p *ngIf="models?.length == 0" class="mb-0 font-9 grey-text">Please choose a make</p>
                </div>
                <h5 class="font-9 text-uppercase mb-3">Transmission Type</h5>
                <div class="col-12 p-0 row m-0">
                    <div class="col-4 mb-2 text-center p-2">
                        <label class="pointer" (click)="transmission_change('automatic')" [ngClass]="{'active_transmission': active_transmission=='automatic'}">
              <p class="mb-2"><span class="font-1 d-inline-block py-2 w-h-40 rounded-circle grey darken-3 text-white">A</span></p>
              <p class="font-9 mb-1">Automatic</p>
            </label>
                    </div>
                    <div class="col-4 mb-2 text-center p-2">
                        <label class="pointer" (click)="transmission_change('manual')" [ngClass]="{'active_transmission': active_transmission=='manual'}">
              <p class="mb-2"><span class="font-1 d-inline-block py-2 w-h-40 rounded-circle grey darken-3 text-white">M</span></p>
              <p class="font-9 mb-1">Manual</p>
            </label>
                    </div>
                    <div class="col-4 mb-2 text-center p-2">
                        <label class="pointer" (click)="transmission_change('semi')" [ngClass]="{'active_transmission': active_transmission=='semi'}">
              <p class="mb-2"><span class="font-1 d-inline-block py-2 w-h-40 rounded-circle grey darken-3 text-white">SA</span></p>
              <p class="font-9 mb-1">Semi Automatic</p>
            </label>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 text-right">
            <a href="javascript:void(0)" class="ml-auto d-lg-none d-inline-flex text-muted mt-3" (click)="open_filter()"><i class="material-icons">more_vert</i></a>
            <div class="row m-0 white text-left">
                <div class="text-center smooth_loading" [style.opacity]="is_loading ? '1' : '0'" [style.visibility]="is_loading ? 'visible' : 'hidden'">
                    <mat-spinner class="stroke_small mx-auto"></mat-spinner>
                </div>
                <ng-container *ngIf="searchresults?.length > 0 && !is_loading">
                    <div class="col-lg-4 col-sm-6 p-2" *ngFor="let searchresult of searchresults; let i = index">
                        <a routerLink="/car/{{searchresult.id}}" class="d-block color-inherit pt-2">
                            <div class="rounded border-1 p-3">
                                <div class="d-flex mb-2">
                                    <div class="w-100 row m-0">
                                        <span class="w-100 grey-text font-9">{{searchresult.make_title?.name}}</span>
                                        <span class="w-100 bold_font font-9">{{searchresult.model}}</span>
                                    </div>
                                    <div class="w-100 text-right ml-auto font-9">
                                        <span>{{searchresult.mileage}} mileage</span>
                                    </div>
                                </div>
                                <img src="{{searchresult.photo_id.car_photo}}" class="w-100 h-200 mb-2 o-contain" />
                                <div class="d-flex align-items-center mb-3">
                                    <div class="text-capitalize text-muted">
                                        <span class="mr-1 align-items-center justify-content-center font-9 d-inline-flex py-2 w-h-40 rounded-circle grey darken-3 text-white" *ngIf="searchresult.transmission_type == 'automatic'">A</span>
                                        <span class="mr-1 align-items-center justify-content-center font-9 d-inline-flex py-2 w-h-40 rounded-circle grey darken-3 text-white" *ngIf="searchresult.transmission_type == 'semi'">SA</span>
                                        <span class="mr-1 align-items-center justify-content-center font-9 d-inline-flex py-2 w-h-40 rounded-circle grey darken-3 text-white" *ngIf="searchresult.transmission_type == 'manual'">M</span> {{searchresult.transmission_type}}
                                    </div>
                                    <ng-container class="sddssd ml-auto" *ngFor="let single_price of searchresult.price; let i = index">
                                        <ng-container class="font-1 bold_font m-0" *ngIf="single_price.duration == month"><span class="sddssd ml-auto">$ {{single_price.price}}</span></ng-container>
                                    </ng-container>
                                </div>
                                <button class="btn orange darken-3 mx-auto l-h-normal py-3 overflow-hidden text-white spin_button px-4 m-0 radius_0 font-9 w-100 z-depth-0" mat-button><span class="spin"></span><span class="position-relative"> Lease your car</span></button>
                            </div>
                        </a>
                    </div>
                </ng-container>
                <div class="my-5 text-center w-100" *ngIf="searchresults?.length == 0">
                    <img class="mw-100" src="http://pictures.dealer.com/a/alanjayautomotivenetwork/0193/dfdcaf5815f36d2398fb372b2f294a73x.jpg" />
                </div>
            </div>
            <nav aria-label="Page navigation example" class="mt-5">
                <ul *ngIf="pages && pages.length > 1" class="pagination justify-content-center m-0 mb-2 f-wrap">
                    <li class="page-item" [ngClass]="{disabled:current === 1}">
                        <a class="page-link rounded-circle" mdbWavesEffect (click)="get_search_results(1)"><i class="material-icons">first_page</i></a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:current === 1}">
                        <a class="page-link rounded-circle" mdbWavesEffect (click)="get_search_results(current - 1)"><i class="material-icons">navigate_before</i></a>
                    </li>
                    <li class="page-item mt-1" *ngFor="let page of pages" [ngClass]="{active:current === page}">
                        <a class="page-link rounded-circle" mdbWavesEffect (click)="get_search_results(page)">{{page}}</a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:current === totalPages}">
                        <a class="page-link rounded-circle" mdbWavesEffect (click)="get_search_results(current + 1)"><i class="material-icons">navigate_next</i></a>
                    </li>
                    <li class="page-item" [ngClass]="{disabled:current === totalPages}">
                        <a class="page-link rounded-circle" mdbWavesEffect (click)="get_search_results(totalPages)"><i class="material-icons">last_page</i></a>
                    </li>
                </ul>
                <!-- <p class="text-center font-9 mb-5 mb-0 grey-text">{{start_page}} - {{end_page}} of {{total_count}} Cars</p> -->
            </nav>
        </div>
    </div>
</div>