<div *ngIf="firstsegment != 'admin'" [ngClass]="[firstsegment == 'reset-password' ? 'h-100' : '', firstsegment == 'forgot-password' ? 'h-100': '']">
    <div class="list-right fixed-top"></div>
    <div class="h-100vh" *ngIf="firstsegment != 'reset-password'">
        <mat-toolbar class="bg-transparent t-0 z-index-3 top-nav-collapse px-md-3 w-100" [ngClass]="[(router.url == '/dashboard' || router.url == '/' || router.url == '/users/edit' || router.url == '/lease') ? '' : 'white',router.url == '/' ? 'position-absolute top_header z-depth-0' : 'header position-fixed z-depth-1']">
            <mat-toolbar-row>
                <span><a class="navbar-brand bold_font font-14 primary-text-color" routerLink="/">Car Lease</a></span>
                <button mat-icon-button class="text-black d-md-none ml-auto" (click)="sidenav.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="menu-spacer"></span>
                <div class="d-md-flex d-none ml-auto align-items-center">
                    <!-- The following menu items will be hidden on both SM and XS screen sizes -->
                    <a mat-button routerLinkActive="active" routerLink="register" class="nav-link font-8 lh-60 ml-auto" [ngClass]="router.url == '/' ? 'text-white' : 'text-muted'" *ngIf="userLoggedin == 'false' || userLoggedin == null">Sign up</a>
                    <a mat-button routerLinkActive="active" routerLink="login" class="nav-link font-8 lh-60" [ngClass]="router.url == '/' ? 'text-white' : 'text-muted'" *ngIf="userLoggedin == 'false' || userLoggedin == null">Log in</a>
                    <span class="nav-item py-0 d-inline-block position-relative ml-auto" *ngIf="userLoggedin == 'true'" mdbDropdown>
                        <a class="nav-link font-1 py-3 font-1 text-left px-0 z-depth-0" mdbBtn mdbDropdownToggle mdbWavesEffect>
                        <img src="{{user?.original_profile}}" id="user_profile_image" class="rounded-circle w-30x o-cover"></a>
                        <div class="dropdown-menu dropdown-primary r-0 l-auto p-0">
                            <a class="dropdown-item py-2 px-3 font-9" routerLink="dashboard">Dashboard</a>
                            <a class="dropdown-item py-2 px-3 font-9" (click)="userLoggedOut()">Logout</a>
                        </div>
                    </span>
                    <mat-form-field class="font-8 styled-select w-50 mt-2 ml-2">
                        <mat-select value="en" class="font-9 mat-select styled-input" (selectionChange)="useLanguage($event.value)">
                            <mat-option value="en">English</mat-option>
                            <mat-option value="de">German</mat-option>
                        </mat-select>
                    </mat-form-field>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>

        <mat-sidenav-container class="z-index-auto" [ngClass]="[firstsegment == 'reset-password' ? 'h-100' : '', firstsegment == 'forgot-password' ? 'h-100': '']">
            <mat-sidenav #sidenav class="position-fixed w-100 mw-250">
                <mat-nav-list>
                    <a mat-list-item routerLinkActive="active" (click)="sidenav.toggle()" routerLink="register" class="nav-link font-1 lh-60" *ngIf="userLoggedin == 'false' || userLoggedin == null">Sign up</a>
                    <a mat-list-item routerLinkActive="active" (click)="sidenav.toggle()" routerLink="login" class="nav-link font-1 lh-60" *ngIf="userLoggedin == 'false' || userLoggedin == null">Log in</a>
                    <span class="nav-item py-0 d-block" *ngIf="userLoggedin == 'true'">
                        <span class="d-block p-2 rgba-stylish-slight text-capitalize break-word">
                            <img src="{{user?.original_profile}}" id="user_profile_image" class="mr-2 rounded-circle w-30x o-cover">
                            <span>{{user?.fullName}}</span>
                    </span>
                    <mat-list class="p-0">
                        <a mat-list-item routerLinkActive="active" (click)="sidenav.toggle()" routerLink="/dashboard" class="font-9">Dashboard</a>
                        <a mat-list-item (click)="userLoggedOut()" class="font-9"><span>Logout</span></a>
                    </mat-list>
                    </span>
                    <mat-form-field class="font-8 styled-select w-50 ml-3">
                        <mat-select value="en" class="font-9 mat-select styled-input" (selectionChange)="useLanguage($event.value)">
                            <mat-option value="en">English</mat-option>
                            <mat-option value="de">German</mat-option>
                        </mat-select>
                    </mat-form-field>
                </mat-nav-list>
            </mat-sidenav>
            <mat-sidenav-content class="white z-index-auto">
                <app-listprogress *ngIf="firstsegment == 'listyourspace' && thirdsegment != 'edit' && thirdsegment != undefined"></app-listprogress>
                <router-outlet></router-outlet>
                <app-footer [ngClass]="[firstsegment == 'rooms' ? 'showfooter' : '', firstsegment == 'contact' ? 'showfooter': '', firstsegment == 'reservation' ? 'showfooter': '']" *ngIf="firstsegment != 'listyourspace'"></app-footer>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>
<div *ngIf="firstsegment == 'admin'" class="h-100">
    <div class="example-container h-100" [class.example-is-mobile]="mobileQuery.matches">
        <mat-toolbar color="primary" *ngIf="commonservice.admin_login=='true'" [class.sidebar_opened]="snav.opened" class="example-toolbar orange darken-3">
            <h1 class="example-app-name bold_font">{{ title }}</h1>
            <button mat-icon-button class="outline-0" #snavbtn (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
            <div class="ml-auto mr-3 row m-0">
                <a class="white-text d-inline-flex px-2" (click)="admin_logout()"><i class="material-icons cursor-pointer">power_settings_new</i></a>
            </div>
        </mat-toolbar>

        <mat-sidenav-container class="example-sidenav-container h-100" [ngClass]="[secondsegment == 'login' ? 'white' : '']" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
            <mat-sidenav #snav [opened]="mobileQuery.matches ? 'false' : 'true'" class="admin-sidenav" [ngClass]="[secondsegment == 'login' ? 'd-none' : '']" [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
                <app-admin-sidebar></app-admin-sidebar>
            </mat-sidenav>
            <mat-sidenav-content [class.ml-230]="snav.opened" [ngClass]="[secondsegment == 'login' ? 'ml-0' : '']">
                <router-outlet></router-outlet>
            </mat-sidenav-content>
        </mat-sidenav-container>
    </div>
</div>