<div class="col-12 p-0 my-5">
    <div class="container">
        <div class="row m-0 pt-5">
            <div class="col-lg-7">
                <mdb-carousel class="carousel slide carousel-fade mb-3" [animation]="'fade'">
                    <mdb-carousel-item *ngFor="let photo_detail of photo_details">
                        <div class="view w-100">
                            <p class="text-right grey-text" *ngIf="photo_detail.image_category != '0'">Category : {{photo_detail.image_category}}
                            </p>
                            <p class="text-right grey-text" *ngIf="photo_detail.image_category == '0'">Category : Others</p>
                            <img class="d-block w-100" src="{{photo_detail.car_photo}}" alt="First slide">
                        </div>
                    </mdb-carousel-item>
                </mdb-carousel>
                <h4 class="light_font text-uppercase">{{car_details?.model}}</h4>
                <p class="font-9 grey-text mb-4">Making of {{car_details?.make_title.name}}</p>
                <div class="col-12 p-0">
                    <h5 class="bold_font text-uppercase">Basic Info</h5>
                    <div class="border-1 row mx-0 mb-4">
                        <div class="col-6 font-9 border-bottom text-muted p-3 border-right">Transmission Type</div>
                        <div class="col-6 text-capitalize font-9 border-bottom grey-text p-3">{{car_details?.transmission_type}}
                        </div>
                        <div class="col-6 font-9 border-bottom text-muted p-3 border-right">Body Type</div>
                        <div class="col-6 text-capitalize font-9 border-bottom grey-text p-3">{{car_details?.body_type}}</div>
                        <div class="col-6 font-9 border-bottom text-muted p-3 border-right">Fuel Type</div>
                        <div class="col-6 text-capitalize font-9 border-bottom grey-text p-3">{{car_details?.fuel_type}}</div>
                        <div class="col-6 font-9 border-bottom text-muted p-3 border-right">Seatings</div>
                        <div class="col-6 text-capitalize font-9 border-bottom grey-text p-3">{{car_details?.seat}}</div>
                        <div class="col-6 font-9 border-bottom text-muted p-3 border-right">Engine CC</div>
                        <div class="col-6 text-capitalize font-9 border-bottom grey-text p-3">{{car_details?.engine_capacity}}</div>
                        <div class="col-6 font-9 border-bottom text-muted p-3 border-right">BHP</div>
                        <div class="col-6 text-capitalize font-9 border-bottom grey-text p-3">{{car_details?.bhp}}</div>
                        <div class="col-6 font-9 border-bottom text-muted p-3 border-right">Mileage</div>
                        <div class="col-6 text-capitalize font-9 border-bottom grey-text p-3">{{car_details?.mileage}}</div>
                        <div class="col-6 font-9 text-muted p-3 border-right">Fuel Capacity</div>
                        <div class="col-6 text-capitalize font-9 grey-text p-3">{{car_details?.fuel_capacity}}</div>
                    </div>
                </div>
                <div class="col-12 p-0" *ngIf="car_details?.price?.length > 0">
                    <h5 class="bold_font text-uppercase">Pricing Info</h5>
                    <table mat-table [dataSource]="terms_array" class="mat-elevation-z0 w-100 mb-4">
                        <ng-container matColumnDef="color_name">
                            <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Duration </th>
                            <td data-title="Duration" mat-cell *matCellDef="let element" class="py-2 align-items-center dark-text-color border-0">
                                <p class="mb-1">{{element.duration}}</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Price </th>
                            <td data-title="Price" mat-cell *matCellDef="let element" class="py-2 align-items-center dark-text-color border-0">
                                <p class="mb-1">$ {{element.price}}</p>
                            </td>
                        </ng-container>
                        <tr mat-header-row class="border-top" *matHeaderRowDef="displayedColumns">
                            <td>asdf</td>
                        </tr>
                        <tr class="border-bottom" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
                <div class="col-12 p-0" *ngIf="extra_color_price?.length > 0">
                    <h5 class="bold_font text-uppercase">Color Varients</h5>
                    <table mat-table [dataSource]="extra_color_price" class="mat-elevation-z0 w-100 mb-4">
                        <ng-container matColumnDef="color_name">
                            <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Color code </th>
                            <td data-title="Color code" mat-cell *matCellDef="let element" class="py-2 align-items-center dark-text-color border-0">
                                <p class="mb-1 dark-text-color d-flex align-items-center"><span class="border-1 w-20x h-20x mr-2" [ngStyle]="{'background-color': element?.color_code}"></span>{{get_color_name(element?.color_code)}}</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="price">
                            <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Extra Amount </th>
                            <td data-title="Extra Amount" mat-cell *matCellDef="let element" class="py-2 align-items-center dark-text-color border-0">
                                <p class="mb-1">$ {{element.price}}</p>
                            </td>
                        </ng-container>
                        <tr mat-header-row class="border-top" *matHeaderRowDef="displayedColumns">
                            <td>asdf</td>
                        </tr>
                        <tr class="border-bottom" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                </div>
            </div>
            <div class="col-lg-5">
                <sticky [sticky-offset-top]="100" class="w-100 mw-400 mx-auto z-index-2 rounded list_price_sidebar z-depth-1">
                    <div class="col-12 row m-0 pt-3 p-0">
                        <h6 class="bold_font text-uppercase px-3 mb-3">Lease your car</h6>
                        <div class="col-12">
                            <mat-form-field class="example-full-width w-100" appearance="outline">
                                <mat-label class="font-9">Select your terms</mat-label>
                                <mat-select class="font-9" placeholder="Select your terms" [(ngModel)]="terms" (selectionChange)="term_change($event)">
                                    <mat-option value="{{price.term}}" *ngFor="let price of terms_array">{{price.duration}}</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-12">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label class="font-9">Start date</mat-label>
                                <input type="text" readonly="readonly" (dateChange)="start_date()" [(ngModel)]="startdate" matInput [min]="min" [matDatepicker]="start" placeholder="Start date" (click)="start.open()" name="" />
                                <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
                                <mat-datepicker #start></mat-datepicker>
                                <mat-hint class="p-0 mb-2">Ends with: {{enddate}}</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-12 mt-2" *ngIf="extra_color_price?.length > 0">
                            <div class="d-flex">
                                <h6 class="text-uppercase mb-3 font-9">Choose your favorite</h6>
                                <span class="ml-auto">
                  <mat-slide-toggle [(ngModel)]="is_color" (change)="is_avail_color(is_color)"></mat-slide-toggle>
                </span>
                            </div>
                            <span *ngIf="is_color">
                <span *ngFor="let color_price of extra_color_price; let i = index">
                  <input type="radio" class="d-none allradio" name="color" id="color{{i}}"
                    value="{{color_price.color_code}}" (change)="color_change(color_price)" />
                  <label for="color{{i}}" class="p-2 pointer rounded-circle mr-2 border-1"
                    [ngStyle]="{'background-color': color_price.color_code}"></label>
                </span>
                            </span>
                        </div>
                        <div class="col-12 mt-2" *ngIf="total_price">
                            <div class="position-absolute l-0 d-flex align-items-center justify-content-center w-100 h-100 white" *ngIf="is_loading">
                                <mat-spinner class="stroke_small"></mat-spinner>
                            </div>
                            <div class="d-flex mb-2">
                                <span class="font-9 grey-text">Sub Total</span>
                                <span class="ml-auto">$ {{sub_total_price[0].price}}</span>
                            </div>
                            <div class="d-flex mb-2" *ngIf="total_extra_color_price != 0">
                                <span class="font-9 grey-text">Extra Price for color chosen ({{car_color.price}} x {{terms}})</span>
                                <span class="ml-auto">$ {{total_extra_color_price}}</span>
                            </div>
                            <div class="d-flex mb-2 pt-2 border-top" *ngIf="total_price">
                                <span class="font-14 grey-text">Total Price</span>
                                <span class="font-14 ml-auto">$ {{total_price}}</span>
                            </div>
                        </div>
                        <div class="col-12 my-2 text-center">
                            <button class="btn orange darken-3 mx-auto w-100 p-2 mw-200 overflow-hidden text-white spin_button radius_0 font-9 z-depth-0" (click)="price_calculate(bookModal)" mat-button><span class="spin"></span><span class="position-relative"> Lease your car</span></button>
                        </div>
                    </div>
                </sticky>
            </div>
        </div>
    </div>
</div>
<ng-template #bookModal>
    <h5 class="bold_font mb-4">Booking your car</h5>
    <mat-dialog-content>
        <div class="col-12 p-0">
            <form novalidate (ngSubmit)="buy_car()" [formGroup]="stripeTest">
                <div class="col-12 p-0">
                    <div id="card-element" class="field p-2 radius_8 border-1"></div>
                </div>
                <div class="col-12 text-right p-0 my-3">
                    <mat-spinner-button class="loading_button radius_0" [options]="btnOpts"></mat-spinner-button>
                </div>
            </form>
        </div>
    </mat-dialog-content>
</ng-template>