<div class="col-12 px-0 pt-5">
  <div class="container">
    <div class="row mx-0 my-5">
      <div class="col-md-6 p-0">
          <div class="mdb-color radius_top_left h-100 radius_10 darken-3 p-5">
            <h4 class="text-white bold_font text-uppercase mb-4">Information</h4>
            <p class="text-white font-9">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries</p>
            <p class="text-white font-9">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
            <button class="btn orange darken-3 l-h-normal p-3 m-0 rounded text-white font-9" routerLink="/register" mat-button>Don't have an Account</button>
          </div>
      </div>
      <div class="col-md-6 p-0">
          <div class="white p-4 radius_10 radius_bottom_right z-depth-1 h-100">
            <h4 class="text-black-50 bold_font text-uppercase px-3 mb-4">Login Form</h4>
            <div class="col-12 p-0 row m-0">
              <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100"> 
                    <mat-label class="font-9">Email</mat-label> 		 			
                    <input type="text" matInput [(ngModel)]="formValues['email']" placeholder="Email" autocomplete="off" name="" class="font-9" (keydown.enter)="loginSubmit()" />
                  </mat-form-field>
              </div>
              <div class="col-12">
                  <mat-form-field appearance="outline" class="w-100"> 
                    <mat-label class="font-9">Password</mat-label> 		 			
                    <input type="text" matInput [(ngModel)]="formValues['pwd']" placeholder="Password" autocomplete="off" name="" class="font-9" (keydown.enter)="loginSubmit()" [type]="pwd_hide ? 'password' : 'text'"/>
                    <i class="material-icons pointer primary-text-color" matSuffix (click)="pwd_hide = !pwd_hide">{{pwd_hide ? 'visibility_off' : 'visibility'}}</i>
                  </mat-form-field>
              </div>
              <div class="col-12 text-center">
                  <mat-spinner-button class="btn orange darken-3 l-h-normal ml-auto p-3 m-0 rounded"
                  (btnClick)="loginSubmit()" [options]="btnOpts"></mat-spinner-button>
              </div>
            </div>

          </div>
      </div>
    </div>
  </div>
</div>