$xs-width: 450px;
$sm-width: 850px;
$md-width: 1000px;
$primary-bg: #ef6c00;
$sub-text-color: #9aa4b7;
$dark-text-color: rgba(0, 0, 0, 0.8);
$bdr-color: rgba(0, 0, 0, .12);
$zero: 0;
$ten: 10;
@font-face {
    font-family: 'RobotoBold';
    src: url('fonts/RobotoBold.eot');
    src: url('fonts/RobotoBold.eot') format('embedded-opentype'), url('fonts/RobotoBold.woff2') format('woff2'), url('fonts/RobotoBold.woff') format('woff'), url('fonts/RobotoBold.ttf') format('truetype'), url('fonts/RobotoBold.svg#RobotoBold') format('svg');
}

@font-face {
    font-family: 'RobotoRegular';
    src: url('fonts/RobotoRegular.eot');
    src: url('fonts/RobotoRegular.eot') format('embedded-opentype'), url('fonts/RobotoRegular.woff2') format('woff2'), url('fonts/RobotoRegular.woff') format('woff'), url('fonts/RobotoRegular.ttf') format('truetype'), url('fonts/RobotoRegular.svg#RobotoRegular') format('svg');
}

@font-face {
    font-family: 'RobotoLight';
    src: url('fonts/Roboto-Light.ttf');
}

html {
    scroll-behavior: smooth;
}

body,
.mat-option,
.mat-simple-snackbar,
.mat-table,
.mat-radio-button,
.mat-checkbox,
.mat-tab-label,
.mat-tab-link,
.mat-tab-group {
    font-family: RobotoRegular !important;
}

.bold_font {
    font-family: RobotoBold !important;
}

.light_font {
    font-family: RobotoLight !important;
}

.primary-bg,
.mat-step-header .mat-step-icon-selected,
.mat-step-header .mat-step-icon-state-done,
.mat-step-header .mat-step-icon-state-edit {
    background: $primary-bg !important;
}

.primary-text-color {
    color: $primary-bg;
}

.opacity-1 {
    opacity: 1 !important;
}

.opacity-0 {
    opacity: 0 !important;
}

.dashed {
    border-style: dashed !important;
}

.mw-400 {
    max-width: 400px !important;
}

.mw-500 {
    max-width: 500px !important;
}

.pointer {
    cursor: pointer !important;
}

.font-1 {
    font-size: 1em !important;
}

.l-h-normal {
    line-height: normal !important;
}

.l-h-36 {
    line-height: 36px !important;
}

.z-index-1 {
    z-index: 1;
}

.outline-0 {
    outline: none !important;
}

.border-1 {
    border: 1px solid $bdr-color;
}

.z-index-2 {
    z-index: 2 !important;
}

.t-0 {
    top: $zero;
}

.t-100 {
    top: 100%;
}

.l-100 {
    left: 100%;
}

.b-0 {
    bottom: $zero;
}

.l-0 {
    left: $zero;
}

.r-0 {
    right: $zero;
}

.color-inherit {
    color: inherit !important;
}

.radius_0 .mat-form-field-outline-start,
.radius_0 .mat-form-field-outline-end {
    border-radius: 0px !important;
}

.mat-form-field-label {
    color: $sub-text-color !important;
}

.sub-text-color {
    color: $sub-text-color !important;
}

.dark-text-color {
    color: $dark-text-color;
}

.font-8 {
    font-size: 0.8em !important;
}

.font-9 {
    font-size: 0.9em;
}

.font-14 {
    font-size: 1.4em;
}

.min-height-175 {
    min-height: 175px;
}

.word-break {
    word-wrap: break-word;
}

.mw-950 {
    max-width: 950px !important;
}

.btn-rounded {
    border-radius: 50px !important;
}

.o-cover {
    object-fit: cover;
}

.o-contain {
    object-fit: contain;
}

.height-1 {
    height: 1px;
}

.h-200 {
    height: 200px;
}

.h-250 {
    height: 250px;
}

.h-350 {
    height: 350px;
}

.h-400 {
    height: 400px;
}

.h-650 {
    height: 650px;
}

.h-150 {
    height: 150px;
}

.h-80x {
    height: 80px;
}

.h-100x {
    height: 100px;
}

.h-20x {
    height: 20px;
}

.radius_10 {
    border-radius: 10px;
}

.radius_top_left {
    border-bottom-right-radius: 0px !important;
    border-top-right-radius: 0px !important;
}

.radius_bottom_right {
    border-top-left-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
}

.letter-spacing-2 {
    letter-spacing: 2px;
}

.w-150x {
    width: 150px;
}

.w-30x {
    width: 30px;
}

.w-50x {
    width: 50px;
}

.w-20x {
    width: 20px;
}

.center_div_align {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: auto;
}

.font-12 {
    font-size: 1.2em;
}

.m-w-auto {
    min-width: auto !important;
}

mat-spinner-button button {
    background: transparent !important;
    @extend .m-w-auto;
    @extend .l-h-normal;
    box-shadow: none !important;
    padding: 0px !important;
    color: #fff !important;
}

.mat-progress-spinner.mat-accent circle,
.mat-spinner.mat-accent circle {
    stroke: #ffffff;
}

mat-spinner.spinner.mat-spinner.mat-progress-spinner {
    top: 0 !important;
    bottom: 0 !important;
    margin: auto !important;
}

.linkactive {
    &.active {
        background: #ffe0b2;
    }
}

.z-index_1 {
    z-index: -1;
}

.contain-bg {
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.mat-step-header.cdk-keyboard-focused,
.mat-step-header.cdk-program-focused,
.mat-step-header:hover {
    background: transparent !important;
}

.mat-horizontal-stepper-header-container {
    flex-wrap: wrap;
}

@media (max-width: 550px) {
    .mat-stepper-horizontal-line {
        width: 100%;
        margin: 0px !important;
    }
}

@media (min-width: $md-width) {
    .w-md-20 {
        width: 20%;
    }
}

.custom_prefix {
    top: -0.25em;
    position: relative;
}

.ngx-file-drop__drop-zone {
    height: 200px !important;
    border: 2px dotted #dadbdc !important;
    display: table;
    width: 100%;
}

.ngx-file-drop__content {
    display: table-cell !important;
    vertical-align: middle;
}

.radius_30 {
    border-radius: 30px !important;
}

.blur_img {
    filter: blur(0.5);
}

.img-settings {
    width: 24px;
    transition: all 0.5s;
    overflow: hidden;
    border-radius: 0px 30px 30px 0px;
    z-index: 1;
    &.active {
        width: 170px;
        >.categories {
            visibility: visible !important;
        }
    }
    .mat-radio-button,
    .mat-radio-button * {
        max-width: 100%;
        overflow: hidden;
        text-overflow: ellipsis;
        margin: 0 !important;
    }
    >.categories {
        max-width: 148px;
    }
}

.mat-radio-button.mat-accent .mat-radio-inner-circle,
.mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple),
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple,
.mat-radio-button.mat-accent:active .mat-radio-persistent-ripple,
.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb,
.mat-slide-toggle.mat-checked .mat-ripple-element {
    background: $primary-bg !important;
}

.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: $primary-bg !important;
}

.disable_header .mat-step-header {
    pointer-events: none;
}

.mat-drawer {
    max-width: 250px;
}

.z-index-3 {
    z-index: 3;
}

.h-100vh {
    height: 100vh;
}

.banner_car {
    height: 115%;
    border-radius: 0 50% 50% 0;
    margin-top: -5%;
}

a.nav-link.active {
    color: $primary-bg !important;
}

.user_banner {
    background: url('images/bmw.jpg') no-repeat center top 20%, linear-gradient(#1a4158, #27707b);
    background-blend-mode: multiply;
}

.l-auto {
    left: auto;
}

.primary_link.active {
    color: #fff !important;
    border-bottom: 2px solid;
}

.z-index-auto {
    z-index: auto !important;
}

.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: rgb(255, 184, 152);
}

.font-5 {
    font-size: 0.5em;
}

@media (max-width: $sm-width) {
    #no-more-tables table,
    #no-more-tables thead,
    #no-more-tables tbody,
    #no-more-tables th,
    #no-more-tables td:not(.mf-footer),
    #no-more-tables tr {
        display: block;
    }
    #no-more-tables thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    #no-more-tables tr {
        border: 1px solid #ccc;
        height: auto;
    }
    #no-more-tables td:not(.mf-footer) {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50% !important;
        white-space: normal;
        text-align: left;
    }
    #no-more-tables td:before {
        position: absolute;
        top: 8px;
        left: 5%;
        width: 45%;
        padding-right: 10px;
        white-space: normal;
        text-align: left;
        font-family: 'circebold';
    }
    #no-more-tables td:before {
        content: attr(data-title);
    }
}

.mw-150 {
    max-width: 150px;
}

.mw-200 {
    max-width: 200px;
}

.mw-100x {
    max-width: 100px;
}

.greyscale {
    filter: grayscale(1);
    &:hover {
        filter: grayscale(0);
    }
    &.active {
        filter: grayscale(0);
    }
}

.top-nav-collapse {
    transition: all 0.5s;
}

.white_header {
    background: #fff !important;
}

@media (min-width: 768px) {
    .h-md-650 {
        height: 650px;
    }
}

.mw-70x {
    max-width: 70px;
}

.border-dash {
    border-style: dashed;
}

.section_title:after {
    content: "";
    position: absolute;
    background: #e8e8e8;
    width: 100%;
    max-width: 70px;
    height: 3px;
    display: block;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.owl-theme .owl-nav [class*='owl-'] {
    background: #000 !important;
    display: inline-flex !important;
}

.carousel-indicators li {
    background-color: $primary-bg;
    border-radius: 5px !important;
    height: 2px !important;
    &.active {
        width: 40px !important;
    }
}

.carousel-indicators {
    z-index: 2;
}

.allradio {
    &:checked+label {
        transform: scale(1.3);
        filter: drop-shadow(0 0px 4px grey);
    }
    +label {
        transition: all 0.5s;
    }
}

.stroke_small,
.stroke_small svg {
    width: 20px !important;
    height: 20px !important;
}

@media (max-width: $md-width) {
    .list_price_sidebar {
        position: relative !important;
        top: auto !important;
        left: auto !important;
    }
    .side_filters {
        top: 0;
        height: 100%;
        margin-top: 3rem !important;
        padding: 2em 1em !important;
        right: -100%;
        width: 100%;
        transition: all 0.5s;
        &.active {
            right: 0;
        }
    }
}

@media (min-width: 992px) {
    .w-lg-25 {
        width: 25%;
    }
    .side_filters {
        top: 64px;
        height: calc(100% - 64px);
    }
}

.w-h-40 {
    width: 40px;
    height: 40px;
}

.active_transmission {
    p>span.grey.darken-3 {
        background: $primary-bg !important;
        color: #fff !important;
    }
}

.ng5-slider>span {
    font-size: 1em !important;
}

.side_filters {
    .ng5-slider {
        .ng5-slider-selection {
            background-color: $primary-bg;
        }
        .ng5-slider-pointer {
            width: 20px;
            height: 20px;
            top: -9px;
            background-color: $primary-bg;
            outline: none;
            &:after {
                width: 6px;
                height: 6px;
                top: 7px;
                left: 7px;
            }
        }
    }
}

.smooth_loading {
    transition: all 0.5s;
    position: absolute;
    top: calc(50% - 20px);
    left: calc(50% - 20px);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    perspective: 800px;
    z-index: 9999;
    .mat-spinner circle {
        stroke: $primary-bg;
    }
}

.search_result {
    height: calc(100vh - 64px);
}

.mt-6 {
    margin-top: 4rem;
}

.list_price_sidebar:not(.sticky) {
    top: 0 !important;
    bottom: auto !important;
}

.loading_button {
    .mat-button {
        background-color: $primary-bg !important;
        border-radius: 0px;
        color: #fff !important;
        padding: 0.84rem 2.14rem !important;
        @extend .font-8;
        text-transform: uppercase;
    }
    .mat-progress-spinner circle,
    .mat-spinner circle {
        stroke: #fff!important;
    }
}

.ml-230 {
    margin-left: 230px;
}

.phone_input {
    .input-group {
        margin-top: 0.25rem;
    }
    .dropdown {
        height: 100%;
    }
    button.dropbtn.btn {
        margin: 0;
        padding: 9px;
        height: 100%;
        border: 1px solid #dfdfdf;
        box-shadow: none;
        border-right: 0;
    }
    input.form-control {
        height: 60px;
        box-shadow: none;
    }
}

.radius_0 {
    border-radius: 0px !important;
}

.border-white {
    border: 1px solid #fff !important;
}

.spin {
    width: 0;
    height: 0;
    opacity: 0;
    left: 110px;
    top: 20px;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    background: none;
    position: absolute;
    transition: all .5s ease-Out;
    +span {
        transition: all .5s ease-Out;
    }
}

.spin_button:hover .spin {
    width: 200%;
    height: 600%;
    opacity: 1;
    left: -50%;
    top: -70px;
    background: #fff;
    -webkit-transform: rotate(80deg);
    transform: rotate(80deg);
    +span {
        color: $primary-bg !important;
    }
}

.styled-input.mat-input-element,
.styled-input.mat-select {
    line-height: normal;
    border-radius: 0px;
    padding: 0.7em;
    background: #fff;
}

.styled-select .mat-form-field-underline {
    display: none;
}