<div class="col-12 p-0 mt-3" [ngClass]="{h100:thispageLoad}">
  <div class="container col-md-6 mx-auto p-3" [ngClass]="{h100:thispageLoad}">
    <div class="d-flex justify-content-center align-items-center h-100" *ngIf="thispageLoad">
      <mat-progress-spinner [color]="spinner_color" [mode]="spinner_mode" [diameter]=50></mat-progress-spinner>
    </div>
    <div class="col-12  white z-depth-1 p-0 text-center pb-5" *ngIf="!showForm">
      <div class="no_data_image"></div>
      <h4>Oops! Record is missing.</h4>
      <small>
        <p>This record must be delete or Unavailable</p>
      </small>
      <button type="button" class="btn rounded black-text grey lighten-4 p-3 mr-3" routerLink="/admin/image_category"
        mat-button>Go Back</button>
    </div>
    <div class="col-12  white z-depth-1" *ngIf="showForm">
      <div class="d-flex align-items-center f-wrap">
        <h4 class="bold_font w-100 mb-0 col-md-7 col-sm-5 my-3 pl-0">{{page_title}}</h4>
      </div>
      <div class="col-12 p-0">
        <div class="d-flex row mb-3 pb-3">
          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Name</mat-label>
              <input type="text" matInput [(ngModel)]="name" placeholder="Name" autocomplete="off" name="" class="" />
            </mat-form-field>
          </div>
          <div class="col-12">
            <div class="upload-box-content">
              <div class="drop-container contain-bg d-flex align-items-center justify-content-center mb-4 h-200 border-1 rounded" [style.background-image]="'url('+imageSrc+')'">
                <p class="" [ngClass]="[imageSrc != null ? 'position-absolute p-3 t-0 r-0' : 'mb-0 text-center px-3']">
                  <label class="upload-button mb-0 primary-text-color font-9 pointer"><input type="file"
                      (change)="makePhotoUpload($event)" accept="image/*" class="position-absolute w-50x z-index_1 opacity-0"> Browse </label> to upload.
                </p>
              </div>
            </div>
          </div>
          <div class="col-12">
            <mat-form-field appearance="outline" class="w-100">
              <mat-label>Status</mat-label>
              <mat-select [(value)]="status" class="">
                <mat-option value="active">Active</mat-option>
                <mat-option value="inactive">In active</mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-sm-12 mt-3 d-flex">
            <button type="button" class="btn rounded black-text grey lighten-4 l-h-normal p-3 mr-3"
              routerLink="/admin/make" mat-button>Cancel</button>
            <mat-spinner-button class="btn orange darken-3 l-h-normal ml-auto p-3 m-0 rounded"
              (btnClick)="update_make()" [options]="btnOpts"></mat-spinner-button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>