<div class="col-12 p-0 mt-3" [ngClass]="{h100:thispageLoad}">
  <div class="container col-md-11 mx-auto p-3" [ngClass]="{h100:thispageLoad}">
    <div class="d-flex justify-content-center align-items-center h-100" *ngIf="thispageLoad">
      <mat-progress-spinner [color]="spinner_color" [mode]="spinner_mode" [diameter]=50></mat-progress-spinner>
    </div>
    <div class="col-12  white z-depth-1">
      <div class="d-flex align-items-center f-wrap">
        <h4 class="bold_font w-100 mb-0 col-md-7 col-sm-5 my-3 pl-0">{{page_title}}</h4>
      </div>
      <div class="col-12 p-0">
        <div class="d-flex row mb-3 pb-3">
          <mat-horizontal-stepper [linear]="false" #stepper class="w-100" [ngClass]="thisEditpage ? '' : 'disable_header'">
            <mat-step>
                <ng-template matStepLabel>General info</ng-template>
                <div class="col-12 row mx-0 my-4 p-0">
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width w-100" appearance="outline">
                          <mat-label class="font-9">Pick one Make</mat-label>
                          <input class="font-9" type="text" placeholder="Pick one Make" aria-label="make" matInput [formControl]="myControl" [matAutocomplete]="auto" [(ngModel)]="car_form_value['make']" autocomplete="off">
                          <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
                            <mat-option *ngFor="let option of filter_make | async" [value]="option">
                              {{option}}
                            </mat-option>
                          </mat-autocomplete>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width w-100" appearance="outline">
                          <mat-label class="font-9">Enter Model</mat-label>
                          <input matInput placeholder="Enter Model" autocomplete="off" [(ngModel)]="car_form_value['model']">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width w-100" appearance="outline">
                          <mat-label class="font-9">Pick one Transmission Type</mat-label>
                          <mat-select class="font-9" placeholder="Pick one Transmission Type" [(ngModel)]="car_form_value['transmission_type']">
                            <mat-option value="automatic">Automatic</mat-option>
                            <mat-option value="manual">Manual</mat-option>
                            <mat-option value="semi">Semi Automatic</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width w-100" appearance="outline">
                          <mat-label class="font-9">Pick one Fuel Type</mat-label>
                          <mat-select class="font-9" placeholder="Pick one Fuel Type" [(ngModel)]="car_form_value['fuel_type']">
                            <mat-option value="petrol">Petrol</mat-option>
                            <mat-option value="diesel">Diesel</mat-option>
                            <mat-option value="electric">Electric</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width w-100" appearance="outline">
                          <mat-label class="font-9">Pick one Body Type</mat-label>
                          <mat-select class="font-9" placeholder="Pick one Body Type" [(ngModel)]="car_form_value['body_type']">
                            <mat-option value="hatchback">Hatchback</mat-option>
                            <mat-option value="sedan">Sedan</mat-option>
                            <mat-option value="muv/suv">MUV/SUV</mat-option>
                            <mat-option value="coupe">Coupe</mat-option>
                            <mat-option value="convertible">Convertible</mat-option>
                            <mat-option value="wagon">Wagon</mat-option>
                            <mat-option value="van">Van</mat-option>
                            <mat-option value="jeep">Jeep</mat-option>
                          </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label class="font-9">Enter Seatings</mat-label>
                            <input matInput placeholder="Enter Seatings" autocomplete="off" [(ngModel)]="car_form_value['seat']" (keypress)="numberOnly($event)">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label class="font-9">Enter Engine CC</mat-label>
                            <input matInput placeholder="Enter Engine CC" autocomplete="off" [(ngModel)]="car_form_value['engine_cc']" (keypress)="numberOnly($event)">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label class="font-9">Enter BHP</mat-label>
                            <input matInput placeholder="Enter BHP" autocomplete="off" [(ngModel)]="car_form_value['bhp']" (keypress)="numberOnly($event)">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label class="font-9">Enter Km</mat-label>
                            <input matInput placeholder="Enter Km" autocomplete="off" [(ngModel)]="car_form_value['kilometer']" (keypress)="numberOnly($event)">
                        </mat-form-field>
                    </div>
                    <div class="col-sm-6">
                        <mat-form-field class="example-full-width w-100" appearance="outline">
                            <mat-label class="font-9">Enter Fuel Capacity</mat-label>
                            <input matInput placeholder="Enter Fuel Capacity" autocomplete="off" [(ngModel)]="car_form_value['fuel_capacity']" (keypress)="numberOnly($event)">
                        </mat-form-field>
                    </div>
                </div>
                <div class="text-right col-12">
                    <mat-spinner-button class="btn orange darken-3 l-h-normal ml-auto p-3 m-0 rounded"
                    (btnClick)="goForward('general')" [options]="btnOpts"></mat-spinner-button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Pricing info</ng-template>
                <div class="col-12 row mx-0 p-0 my-4">
                    <div class="p-2 w-md-20" *ngFor='let subscription_name of subscription_names;let i = index'>
                      <div class="card">
                          <div class="view overlay">
                            <img class="card-img-top" src="angular_app/carlease/assets/images/leasing.jpg" alt="leasing">
                            <a href="#!">
                              <div class="mask rgba-white-slight"></div>
                            </a>
                          </div>
                          <div class="card-body">
                            <h4 class="card-title bold_font font-1">{{subscription_name.name}} plan</h4>
                            <mat-form-field class="example-full-width w-100" appearance="outline">
                                <mat-label class="font-9">Enter amount for {{subscription_name.name}}</mat-label>
                                <input matInput placeholder="Enter amount for {{subscription_name.name}}" class="font-9" autocomplete="off" [(ngModel)]="subscription_price[i]">
                                <span matPrefix class="custom_prefix font-9">$&nbsp;</span>
                            </mat-form-field>                   
                          </div>                      
                      </div>
                    </div>
                </div>
                <div class="text-right col-12">
                    <button mat-button class="btn grey lighten-3 mr-3 l-h-normal ml-auto p-3 m-0 rounded" (click)="goBack()">Back</button>
                    <mat-spinner-button class="btn orange darken-3 l-h-normal ml-auto p-3 m-0 rounded"
                    (btnClick)="goForward('pricing')" [options]="btnOpts"></mat-spinner-button>
                </div>
            </mat-step>
            <mat-step>
                <ng-template matStepLabel>Upload Photo</ng-template>
                <div class="col-12 row my-4 mx-0 p-0">
                    <div class="col-12 col-lg-3 col-sm-6 mb-3" *ngFor="let car_image of car_images; let i = index">
                      <div class="position-relative car_image">
                        <span class="img-trash position-absolute l-0"><a class="d-inline-block m-2" (click)="delete_photo(car_image)"><i class="material-icons rounded-circle white-text rgba-black-light p-2 font-14">delete</i></a></span>
                        <span class="img-settings position-absolute r-0 h-100" [id]="'category_' + i">
                          <a class="d-inline-block my-2" (click)="showcategory('category_' + i)">
                            <i class="material-icons white rgba-stylish-light p-1 font-1 primary-text-color rounded radius_left">settings</i>
                          </a>
                          <span class="categories invisible r-0 rgba-stylish-strong position-absolute h-100 w-100 mw-200 o-y-auto"> 
                            <mat-radio-group class="white-text pt-2" ngDefaultControl [(ngModel)]="car_image.image_category">
                                <mat-radio-button *ngFor="let category of categories" class="pt-2 px-3 bold_font" value="{{category.name}}" (change)="assignCatgory(category,car_image.id)">{{category.name}}</mat-radio-button> 
                            </mat-radio-group>
                          </span>
                        </span>
                        <span class="position-absolute r-0 b-0 rounded-btn white-text amber lighten-1 py-1 px-2  bold_font font-8 m-2 l-h-15" *ngIf="car_image.is_featured==1">Cover Photo</span>
                        <img src="{{car_image.car_photo}}" class="w-100 radius_30 h-200 o-cover">
                      </div>
                    </div>
                    <div [ngClass]="[before_carimages.length == 0 ? 'd-none' : 'd-block']" class="col-12 col-lg-3 col-sm-6 mb-3 pointer-events-none" *ngFor="let before_carimage of before_carimages; let i = index">
                      <div class="position-relative listimage">
                          <img src="{{before_carimage.car_photo}}" class="w-100 blur_img radius_30 h-200 o-cover">
                          <span class="position-absolute r-0 p-3 t-0" *ngIf="loadingStatus">
                            <mat-spinner class="white_spinner" [color]="spinner_color" [mode]="spinner_mode" [diameter]="spinner_value"></mat-spinner>
                          </span>
                      </div>
                    </div>
                    <ngx-file-drop class="col-lg-3 col-sm-6 text-center font-9 mb-3" (onFileDrop)="dropped($event)" id="upload_photos">
                        <ng-template ngx-file-drop-content-tmp let-openFileSelector="openFileSelector">
                            <span class="pointer-events-none d-block grey-text">Drag files here or </span>
                            <button type="button" class="primary-text-color outline-0 d-inline-block bg-transparent border-0" (click)="openFileSelector()">Browse Files</button>
                            <span class="d-inline-block grey-text">to upload.</span>
                        </ng-template>
                    </ngx-file-drop>
                </div>
                <div class="text-right col-12">
                    <button mat-button class="btn grey lighten-3 mr-3 l-h-normal ml-auto p-3 m-0 rounded" (click)="goBack()">Back</button>
                    <button mat-button class="btn white-text orange darken-3 l-h-normal ml-auto p-3 m-0 rounded" (click)="goForward('photo')">Next</button>
                </div>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Color Variants</ng-template>
              <div class="col-12 row my-4 mx-0 p-0">
                <table mat-table [dataSource]="extra_color_price" class="mat-elevation-z0 w-100 mb-4" *ngIf="extra_color_price?.length > 0">
                    <ng-container matColumnDef="color_name">
                      <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Color code </th>
                      <td data-title="Color code" mat-cell *matCellDef="let element"
                        class="py-2 align-items-center dark-text-color border-0">
                        <p class="mb-1 dark-text-color d-flex align-items-center"><span class="border-1 w-20x h-20x mr-2" [ngStyle]="{'background-color': element.color_code}"></span>{{get_color_name(element.color_code)}}</p>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="price">
                      <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Amount </th>
                      <td data-title="Amount" mat-cell *matCellDef="let element"
                        class="py-2 align-items-center dark-text-color border-0">
                        <p class="mb-1">{{element.price}}</p>
                      </td>
                    </ng-container>
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Action </th>
                      <td data-title="Action" class="py-2 border-0" mat-cell *matCellDef="let element">
                        <button type="button" matTooltip="Delete" matTooltipPosition="above"
                          class="p-0 outline-0 bold_font m-w-auto" (click)="delete_color_price(element)"
                          mat-button><i class="material-icons primary-text-color font-11">delete</i></button>
                      </td>
                    </ng-container>
                    <tr mat-header-row class="border-top" *matHeaderRowDef="displayedColumns">
                      <td>asdf</td>
                    </tr>
                    <tr class="border-bottom" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <div class="col-md-6 col-lg-3">
                  <h6 class="bold_font">Pick a color</h6>
                  <color-sketch [color]="state" (onChangeComplete)="changeComplete($event)"></color-sketch>
                </div>
                <div class="col-md-6 col-lg-4">
                  <h6 class="bold_font">Enter extra price for 1 month to specific color</h6>
                  <mat-form-field class="example-full-width w-100" appearance="outline">
                      <mat-label class="font-9">Amount</mat-label>
                      <input matInput placeholder="Amount" autocomplete="off" (keypress)="numberOnly($event)" [(ngModel)]="color_price">
                  </mat-form-field>
                  <mat-spinner-button class="btn orange darken-3 l-h-normal ml-auto p-3 m-0 rounded"
                    (btnClick)="add_color_price()" [options]="btnExtraOpts"></mat-spinner-button>
                </div>
              </div>
              <div class="text-right col-12">
                  <button mat-button class="btn grey lighten-3 mr-3 l-h-normal ml-auto p-3 m-0 rounded" (click)="goBack()">Back</button>
                  <button mat-button class="btn white-text orange darken-3 l-h-normal ml-auto p-3 m-0 rounded" (click)="goForward('finish')">Next</button>
              </div>
            </mat-step>
          </mat-horizontal-stepper>
        </div>
      </div>
    </div>
  </div>
</div>