<div class="col-12 px-0 pt-5">
    <div class="container">
        <div class="row mx-0 my-5">
            <div class="col-md-6 p-0">
                <div class="mdb-color radius_top_left h-100 radius_10 darken-3 p-5">
                    <h4 class="text-white bold_font text-uppercase mb-4">Information</h4>
                    <p class="text-white font-9">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type
                        specimen book. It has survived not only five centuries</p>
                    <p class="text-white font-9">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                    <button class="btn orange darken-3 l-h-normal p-3 m-0 rounded text-white font-9" routerLink="/login" mat-button>I have an Account</button>
                </div>
            </div>
            <div class="col-md-6 p-0">
                <div class="white p-4 radius_10 radius_bottom_right z-depth-1">
                    <h4 class="text-black-50 bold_font text-uppercase px-3 mb-4">Register Form</h4>
                    <div class="col-12 p-0 row m-0">
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label class="font-9">First Name</mat-label>
                                <input type="text" matInput [(ngModel)]="formValues['fname']" placeholder="First Name" autocomplete="off" name="" class="font-9" (keydown.enter)="registerSubmit()" />
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label class="font-9">Last Name</mat-label>
                                <input type="text" matInput [(ngModel)]="formValues['lname']" placeholder="Last Name" autocomplete="off" name="" class="font-9" (keydown.enter)="registerSubmit()" />
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label class="font-9">Email</mat-label>
                                <input type="text" matInput [(ngModel)]="formValues['email']" placeholder="Email" autocomplete="off" name="" class="font-9" (keydown.enter)="registerSubmit()" />
                            </mat-form-field>
                        </div>
                        <div class="col-12 col-md-6">
                            <international-phone-number class="phone_input" [(ngModel)]="formValues['phone_number']" placeholder="Enter phone number" [maxlength]="20" [defaultCountry]="'in'" [required]="true" #phoneNumber="ngModel" name="phone_number"></international-phone-number>
                            <!--[allowedCountries]="['in', 'ca', 'us']" -->
                        </div>
                        <div class="col-md-6">
                            <div class="col-12 p-0">
                                <div class="upload-box-content">
                                    <div class="drop-container contain-bg d-flex align-items-center justify-content-center mb-4 h-150 border-1 rounded" [style.background-image]="'url('+imageLicenceSrc+')'">
                                        <p class="font-9" [ngClass]="[imageLicenceSrc != null ? 'position-absolute p-3 t-0 r-0' : 'mb-0 text-center px-3']">
                                            <label class="upload-button mb-0 primary-text-color pointer"><input type="file"
                              (change)="makeLicenceUpload($event)" accept="image/*" class="position-absolute w-50x z-index_1 opacity-0"> Browse </label> license to upload.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="col-12 p-0">
                                <div class="upload-box-content">
                                    <div class="drop-container contain-bg d-flex align-items-center justify-content-center mb-4 h-150 border-1 rounded" [style.background-image]="'url('+imageNationalSrc+')'">
                                        <p class="font-9" [ngClass]="[imageNationalSrc != null ? 'position-absolute p-3 t-0 r-0' : 'mb-0 text-center px-3']">
                                            <label class="upload-button mb-0 primary-text-color pointer"><input type="file"
                              (change)="makeNationalUpload($event)" accept="image/*" class="position-absolute w-50x z-index_1 opacity-0"> Browse </label> national ID to upload.
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label class="font-9">Password</mat-label>
                                <input type="text" matInput [(ngModel)]="formValues['pwd']" placeholder="Password" autocomplete="off" name="" class="font-9" (keydown.enter)="registerSubmit()" [type]="pwd_hide ? 'password' : 'text'" />
                                <i class="material-icons pointer primary-text-color" matSuffix (click)="pwd_hide = !pwd_hide">{{pwd_hide ? 'visibility_off' : 'visibility'}}</i>
                            </mat-form-field>
                        </div>
                        <div class="col-md-6">
                            <mat-form-field appearance="outline" class="w-100">
                                <mat-label class="font-9">Confirm Password</mat-label>
                                <input type="text" matInput [(ngModel)]="formValues['cpwd']" placeholder="Confirm Password" autocomplete="off" name="" class="font-9" (keydown.enter)="registerSubmit()" [type]="cpwd_hide ? 'password' : 'text'" />
                                <i class="material-icons pointer primary-text-color" matSuffix (click)="cpwd_hide = !cpwd_hide">{{cpwd_hide ? 'visibility_off' : 'visibility'}}</i>
                            </mat-form-field>
                        </div>
                        <div class="col-12 text-center">
                            <mat-spinner-button class="btn orange darken-3 l-h-normal ml-auto p-3 m-0 rounded" (btnClick)="registerSubmit()" [options]="btnOpts"></mat-spinner-button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>