<div class="col-12 p-0 row align-items-center m-0 primary-bg h-md-650 mb-5">
    <div class="col-md-6 d-flex py-5 py-md-0 mb-4 mb-md-0 align-items-center banner_car white">
        <img class="card-img-top pr-md-5 py-5 py-md-0" src="angular_app/carlease/assets/images/car_banner.png" alt="Car" />
    </div>
    <div class="col-md-6">
        <div class="mw-500 px-4">
            <h3 class="bold_font text-white">{{ 'demo.new_series' | translate }}</h3>
            <p class="text-white font-9 mb-4">{{ 'demo.lorem_ipsum' | translate }}</p>
            <button class="btn l-h-normal py-3 overflow-hidden mb-4 mb-md-0 border-white text-white spin_button px-4 m-0 radius_0 primary-text-color font-9 z-depth-0" routerLink="/search" mat-button><span class="spin"></span><span class="position-relative"> {{ 'demo.find_lease' | translate }}</span></button>
        </div>
    </div>
</div>
<div class="col-12 py-3 px-0">
    <div class="container">
        <h2 class="mb-5 bold_font text-center position-relative section_title pb-3">{{ 'demo.how_it_works' | translate }}</h2>
        <div class="col-12 row m-0 mb-5 p-0">
            <div class="col-md-4 p-0">
                <div class="view p-3 text-center">
                    <span class="d-flex mw-150 border-1 mb-4 rounded-circle border-dash mx-auto"><img src="angular_app/carlease/assets/images/car.svg" class="w-100 h-150 o-contain mw-70x mx-auto" /></span>
                    <h4 class="bold_font font-1 text-uppercase mb-3">{{ 'demo.select_car' | translate }}</h4>
                    <p class="font-9 mb-3 text-muted">{{ 'demo.lorem_ipsum' | translate }}</p>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <div class="view p-3 text-center">
                    <span class="d-flex mw-150 border-1 mb-4 rounded-circle border-dash mx-auto"><img src="angular_app/carlease/assets/images/terms.svg" class="w-100 h-150 o-contain mw-70x mx-auto" /></span>
                    <h4 class="bold_font font-1 text-uppercase mb-3">{{ 'demo.choose_terms' | translate }}</h4>
                    <p class="font-9 mb-3 text-muted">{{ 'demo.lorem_ipsum' | translate }}</p>
                </div>
            </div>
            <div class="col-md-4 p-0">
                <div class="view p-3 text-center">
                    <span class="d-flex mw-150 border-1 mb-4 rounded-circle border-dash mx-auto"><img src="angular_app/carlease/assets/images/truck.svg" class="w-100 h-150 o-contain mw-70x mx-auto" /></span>
                    <h4 class="bold_font font-1 text-uppercase mb-3">{{ 'demo.schedule_delivery' | translate }}</h4>
                    <p class="font-9 mb-3 text-muted">{{ 'demo.lorem_ipsum' | translate }}</p>
                </div>
            </div>
            <button class="btn orange darken-3 mx-auto l-h-normal py-3 overflow-hidden mb-4 text-white spin_button px-4 m-0 radius_0 primary-text-color font-9 z-depth-0" routerLink="/search" mat-button><span class="spin"></span><span class="position-relative"> Let's start your jouney</span></button>
        </div>
        <h2 class="mb-5 bold_font text-center position-relative section_title pb-3">{{ 'demo.latest_cars' | translate }}</h2>
        <div class="col-12 p-0 mb-5">
            <owl-carousel-o [options]="customOptions">
                <ng-container *ngFor="let car of cars">
                    <ng-template carouselSlide [id]="car.id">
                        <a [owlRouterLink]="['/car/'+car.id]" [queryParams]="{type:car.model}" [stopLink]="isDragging">
                            <div class="border-1">
                                <img [src]="car.photo_id.car_photo" [alt]="car.model" class="w-100 h-200 o-contain">
                                <p class="font-1 bold_font p-3 m-0">{{car.model}}</p>
                            </div>
                        </a>
                    </ng-template>
                </ng-container>
            </owl-carousel-o>
        </div>
        <h2 class="mb-5 bold_font text-center position-relative section_title pb-3">{{'demo.find_next_lease' | translate}}</h2>
        <div class="col-12 row m-0 mb-5 p-0">
            <div class="col-md-2 text-center" *ngFor="let make of makes; let i = index">
                <img [src]="make.makephoto" class="w-100 mw-100x h-100x o-contain mb-3 greyscale pointer" (click)="goto_search(make)" />
            </div>
        </div>
    </div>
</div>