<section class="d-flex justify-content-center p-10 align-items-center h-100">
  <div class="user_login">
    <div class="account_section px-3 pt-3 pb-3">
      <h4 class="text-uppercase mt-3 mb-4 black-text text-center bold_font">Admin Login</h4> 
        <div class="">			
          <mat-form-field appearance="outline" class="w-100"> 
            <mat-label>Email</mat-label> 		 			
            <input type="text" matInput [(ngModel)]="formValues['email']" placeholder="Email" autocomplete="off" name="" class="" (keydown.enter)="loginSubmit()" />
          </mat-form-field>
          <mat-form-field appearance="outline" class="w-100"> 
            <mat-label>Password</mat-label> 	
            <input matInput placeholder="Password" [(ngModel)]="formValues['password']" name="" class="" [type]="hide ? 'password' : 'text'" (keydown.enter)="loginSubmit()" />
            <i class="material-icons pointer primary-text-color" matSuffix (click)="hide = !hide">{{hide ? 'visibility_off' : 'visibility'}}</i>
          </mat-form-field>
          <div class="col-12 p-3 text-center">
            <button type="button" mat-button class="btn orange darken-3 d-inline-flex px-4 py-2 font-8 text-white m-0 rounded" (click)="loginSubmit()">Submit</button>
          </div>
        </div>
    </div>
  </div>
</section>