<app-userheader></app-userheader>
<div class="col-12 p-0 my-4">
    <div class="container p-0 d-flex f-wrap">
        <div class="col-12">
            <div class="p-4 white radius_10 z-depth-1">
                <h4 class="bold_font mb-3 primary-text-color">{{ 'demo.join' | translate }}</h4>
                <p class="grey-text col-9 p-0 font-9">{{ 'demo.lorem_ipsum' | translate }}</p>
                <button class="btn orange darken-3 l-h-normal p-3 m-0 radius_0 text-white font-8" routerLink="/search" mat-button>{{ 'demo.make_journey' | translate }}</button>
            </div>
        </div>
    </div>
</div>