<app-userheader></app-userheader>
<div class="col-12 p-0 my-4">
    <div class="container p-0 d-flex f-wrap">
        <div class="col-12">
            <div class="col-lg-5 col-12 mw-800 mx-auto">
                <div class="list-form px-3 py-3 mb-5 radius_10 position-relative">
                    <h4 class="bold_font mb-3">{{'demo.update_profile' | translate}}</h4>
                    <div class="col-12 px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label class="font-9">{{'demo.first_name' | translate}}</mat-label>
                            <input type="text" matInput [(ngModel)]="user_session.fname" placeholder="{{'demo.first_name' | translate}}" autocomplete="off" name="" class="font-9" (keydown.enter)="update_user()" />
                        </mat-form-field>
                    </div>
                    <div class="col-12 px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label class="font-9">{{'demo.last_name' | translate}}</mat-label>
                            <input type="text" matInput [(ngModel)]="user_session.lname" placeholder="{{'demo.last_name' | translate}}" autocomplete="off" name="" class="font-9" (keydown.enter)="update_user()" />
                        </mat-form-field>
                    </div>
                    <div class="col-12 px-2">
                        <mat-form-field appearance="outline" class="w-100">
                            <mat-label class="font-9">{{'demo.email' | translate}}</mat-label>
                            <input type="text" matInput [(ngModel)]="user_session.email" placeholder="{{'demo.email' | translate}}" autocomplete="off" name="" class="font-9" (keydown.enter)="update_user()" />
                        </mat-form-field>
                    </div>
                    <div class="col-12 px-2">
                        <h6 class="bold_font">{{'demo.national_id' | translate}}</h6>
                        <img src="{{user_session.nationalphoto}}" class="mb-4 mw-100" />
                        <label class="upload-button position-absolute r-0 t-0 font-9 mb-0 primary-text-color pointer"><input type="file"
              (change)="makeNationalUpload($event)" accept="image/*" class="position-absolute w-50x z-index_1 opacity-0"> {{'demo.browse' | translate}} </label>
                    </div>
                    <div class="col-12 px-2">
                        <h6 class="bold_font">{{'demo.licence_id' | translate}}</h6>
                        <img src="{{user_session.licencephoto}}" class="mb-4 mw-100" />
                        <label class="upload-button position-absolute r-0 t-0 font-9 mb-0 primary-text-color pointer"><input type="file"
              (change)="makeLicenceUpload($event)" accept="image/*" class="position-absolute w-50x z-index_1 opacity-0"> {{'demo.browse' | translate}} </label>
                    </div>
                    <div class="col-12 px-3 text-center mx-auto l-0 mt-3 position-absolute r-0">
                        <mat-spinner-button class="loading_button" [options]="btnOpts" (click)="update_user()"></mat-spinner-button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>