<app-userheader></app-userheader>
<div class="col-12 p-0 my-4">
	<div class="container p-0 d-flex f-wrap">
    <div class="col-12">
      <h4 class="bold_font px-3">My Leasing Car</h4>
      <div class="row m-0">
        <div class="col-lg-4 col-md-6 p-3" *ngFor="let lease of leases">
          <mdb-card>
            <mdb-card-img [src]="lease.car_details.photo" alt="image" class="w-100 px-3 pt-3"></mdb-card-img>
            <mdb-card-body class="border-top">
              <mdb-card-title>
                <h4 class="mb-3">{{lease.car_details.model}}</h4>
              </mdb-card-title>
              <mdb-card-text class="d-flex w-100"> 
                <span class="grey-text mr-2">Terms: </span>
                <span class="ml-auto grey-text">{{lease.terms}} month(s)</span>
              </mdb-card-text>
              <mdb-card-text class="d-flex w-100"> 
                <span class="grey-text mr-2">Start date: </span>
                <span class="ml-auto grey-text">{{lease.startdate*1000 | date: 'dd/MM/yyyy'}} </span>
              </mdb-card-text>
              <mdb-card-text class="d-flex w-100"> 
                <span class="grey-text mr-2">End date: </span>
                <span class="ml-auto grey-text">{{lease.enddate*1000 | date: 'dd/MM/yyyy'}} </span>
              </mdb-card-text>
              <mdb-card-text class="d-flex w-100"> 
                <span class="grey-text mr-2">Month Price: </span>
                <span class="ml-auto grey-text">$ {{lease.month_price}} </span>
              </mdb-card-text>
              <mdb-card-text class="d-flex w-100"> 
                <span class="grey-text mr-2">Total Price: </span>
                <span class="ml-auto grey-text bold_font">$ {{lease.total_amount}} </span>
              </mdb-card-text>
            </mdb-card-body>
            <p class="p-3 border-top font-8 text-uppercase red-text text-center mb-0" *ngIf="lease.no_of_times_paid != lease.terms">
                Your next month price automatically will be paid on {{lease.nextdate*1000 | date: 'dd/MM/yyyy'}}
            </p>
            <p class="p-3 border-top font-8 text-uppercase green-text text-center mb-0" *ngIf="lease.no_of_times_paid == lease.terms">
                You have settled full payment.
            </p>
          </mdb-card>
        </div>
				<div class="col-12"><div class="z-depth-1 white p-3 w-100 text-center font-9 mt-3" *ngIf="leases?.length === 0">No leases found</div></div>
				<nav aria-label="Page navigation example" class="mt-5">
					<ul *ngIf="pages && pages.length > 1" class="pagination justify-content-end f-wrap">
						<li class="page-item" [ngClass]="{disabled:current === 1}">
							<a class="page-link" mdbWavesEffect (click)="get_leases(1,status)"><i class="material-icons">first_page</i></a>
						</li>
						<li class="page-item" [ngClass]="{disabled:current === 1}">
							<a class="page-link" mdbWavesEffect (click)="get_leases(current - 1,status)"><i class="material-icons">navigate_before</i></a>
						</li>
						<li class="page-item mt-1" *ngFor="let page of pages" [ngClass]="{active:current === page}">
							<a class="page-link" mdbWavesEffect (click)="get_leases(page,status)">{{page}}</a>
						</li>
						<li class="page-item" [ngClass]="{disabled:current === totalPages}">
							<a class="page-link" mdbWavesEffect (click)="get_leases(current + 1,status)"><i class="material-icons">navigate_next</i></a>
						</li>
						<li class="page-item" [ngClass]="{disabled:current === totalPages}">
							<a class="page-link" mdbWavesEffect (click)="get_leases(totalPages,status)"><i class="material-icons">last_page</i></a>
						</li>
					</ul>
			  </nav>
      </div>
    </div>
  </div>
</div>