<div class="col-12 p-0">
    <div class="user_banner px-3 row m-0">
        <div class="container p-0">
            <div class="col-12 p-0 pt-5">
                <h3 class="light_font py-5 my-5 text-white"><span class="text-uppercase" *ngIf="firstsegment == 'dashboard'">{{'demo.dashboard' | translate}}</span> <span class="text-uppercase" *ngIf="firstsegment == 'users'">{{'demo.profile' | translate}}</span> <span class="text-uppercase" *ngIf="firstsegment == 'lease'">{{'demo.my_lease' | translate}}</span><br
                    /> <span class="font-5 grey-text">{{'demo.welcome_to_car' | translate}} <span class="text-capitalize text-white">{{user_session.fullName}}</span></span>
                </h3>
            </div>
            <ul class="col-12 d-flex p-0 m-0 f-wrap">
                <li class="d-inline-block"><a class="pb-2 mr-4 primary_link text-muted d-inline-block" routerLink="/dashboard" routerLinkActive="active">{{'demo.dashboard' | translate}}</a></li>
                <li class="d-inline-block"><a class="pb-2 mr-4 primary_link text-muted d-inline-block" routerLink="/users/edit" routerLinkActive="active">{{'demo.profile' | translate}}</a></li>
                <li class="d-inline-block"><a class="pb-2 mr-4 primary_link text-muted d-inline-block" routerLink="/lease" routerLinkActive="active">{{'demo.my_lease' | translate}}</a></li>
            </ul>
        </div>
    </div>
</div>