<div class="col-12 p-0 mt-5">
    <div class="container p-0">
        <div class="row m-0">
            <div class="col-12" id="no-more-tables">
                <div class="col-12 px-0 border-1 mb-3 rounded white">
                    <div class="row m-0 col-12 align-items-center p-0">
                        <div class="d-inline-block">
                            <h5 class="dark-text-color m-0 p-3">User Management</h5>
                        </div>
                    </div>
                    <table mat-table [dataSource]="data" class="mat-elevation-z0 w-100">
                        <ng-container matColumnDef="name">
                            <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Fullname </th>
                            <td data-title="Fullname" mat-cell *matCellDef="let element" class="py-2 align-items-center dark-text-color border-0">
                                <p class="mb-1 dark-text-color">{{element.fullName}}</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="email">
                            <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Email </th>
                            <td data-title="Email" mat-cell *matCellDef="let element" class="py-2 align-items-center page_content dark-text-color border-0">
                                <p class="mb-1 dark-text-color">{{element.email}}</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="phone_number">
                            <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Phone Number </th>
                            <td data-title="Phone Number" mat-cell *matCellDef="let element" class="py-2 align-items-center page_content dark-text-color border-0">
                                <p class="mb-1 dark-text-color">{{element.phone_number}}</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="licence">
                            <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Licence </th>
                            <td data-title="Licence" mat-cell *matCellDef="let element" class="py-2 align-items-center page_content dark-text-color border-0">
                                <p class="mb-1 dark-text-color">
                                    <img src="{{element.licencephoto}}" class="w-50x pointer" (click)="showImage(previewModel,element.licencephoto)" />
                                </p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="national">
                            <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> National ID </th>
                            <td data-title="National ID" mat-cell *matCellDef="let element" class="py-2 align-items-center page_content dark-text-color border-0">
                                <p class="mb-1 dark-text-color">
                                    <img src="{{element.nationalphoto}}" class="w-50x pointer" (click)="showImage(previewModel,element.nationalphoto)" />
                                </p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="active">
                            <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Active </th>
                            <td data-title="Model name" mat-cell *matCellDef="let element" class="py-2 align-items-center page_content dark-text-color border-0">
                                <p class="mb-1 dark-text-color">
                                    <mat-slide-toggle class="my-2" [(ngModel)]="element.is_active" (change)="change_active(element?.id, element?.is_active)"></mat-slide-toggle>
                                </p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Action </th>
                            <td data-title="Action" class="py-2 border-0" mat-cell *matCellDef="let element">
                                <button type="button" matTooltip="Delete" matTooltipPosition="above" class="p-0 outline-0 bold_font m-w-auto" (click)="deleteConfirmation(deleteModal,element._id)" mat-button><i class="material-icons primary-text-color font-11">delete</i></button>
                            </td>
                        </ng-container>
                        <tr mat-header-row class="border-top" *matHeaderRowDef="displayedColumns">
                            <td>asdf</td>
                        </tr>
                        <tr class="bdr-btm" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="text-center p-3" *ngIf="data?.length === 0">No records found</div>
                    <nav aria-label="Page navigation example" class="mt-5">
                        <ul *ngIf="pages && pages.length > 1" class="pagination justify-content-end f-wrap">
                            <li class="page-item" [ngClass]="{disabled:current === 1}">
                                <a class="page-link" mdbWavesEffect (click)="get_users(1)"><i
                      class="material-icons">first_page</i></a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:current === 1}">
                                <a class="page-link" mdbWavesEffect (click)="get_users(current - 1)"><i
                      class="material-icons">navigate_before</i></a>
                            </li>
                            <li class="page-item mt-1" *ngFor="let page of pages" [ngClass]="{active:current === page}">
                                <a class="page-link" mdbWavesEffect (click)="get_users(page)">{{page}}</a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:current === totalPages}">
                                <a class="page-link" mdbWavesEffect (click)="get_users(current + 1)"><i
                      class="material-icons">navigate_next</i></a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:current === totalPages}">
                                <a class="page-link" mdbWavesEffect (click)="get_users(totalPages)"><i
                      class="material-icons">last_page</i></a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #deleteModal>
    <h4 class="mt-2">Delete User</h4>
    <p>Are you sure you want to delete this User?</p>
    <div class="d-flex">
        <button type="button" class="btn rounded grey lighten-2 mr-3 p-3 black-text l-h-normal bold_font" mat-button (click)=closeConfirmation()>Cancel</button>
        <button type="button" [ngClass]="{disabled:delete_btn_loading}" class="btn rounded py-3 px-4 text-uppercase elegant-color-dark ml-auto white-text bold_font l-h-normal font-9" mat-button (click)=deleteUser(false)>
        <mat-progress-spinner *ngIf="delete_btn_loading" [color]="spinner_color" [mode]="spinner_mode"
          [diameter]="spinner_value"></mat-progress-spinner>
        <span *ngIf="!delete_btn_loading">Delete</span>
      </button>
    </div>
</ng-template>
<ng-template #previewModel>
    <img src="{{preview_img}}" class="w-100" />
</ng-template>