<div class="col-12 p-0 mt-5">
  <div class="container">
    <div class="row m-0">
      <div class="col-12 p-3 white">
        <h5 class="dark-text-color m-0 p-2">Notifications Management</h5>
        <div class="col-12 row m-0 p-0">
            <div class="col-md-4 p-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Choose your start date</mat-label>
                <input matInput [matDatepicker]="startdate" (click)="startdate.open()" placeholder="Choose your start date" [(ngModel)]="_startdate" [max]="minDate" autocomplete="off" readonly>
                <mat-datepicker-toggle matSuffix [for]="startdate"></mat-datepicker-toggle>
                <mat-datepicker #startdate></mat-datepicker>
            </mat-form-field>
          </div>
            <div class="col-md-4 p-2">
              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Choose your end date</mat-label>
                <input matInput [matDatepicker]="enddate" (click)="enddate.open()"  placeholder="Choose your end date" [(ngModel)]="_enddate" [max]="minDate" autocomplete="off" readonly>
                <mat-datepicker-toggle matSuffix [for]="enddate"></mat-datepicker-toggle>
                <mat-datepicker #enddate></mat-datepicker>
            </mat-form-field>
          </div>
          <div class="col-md-3 p-2">
            <button mat-button class="btn orange darken-3 white-text font-9 mat-button py-2 px-3 mt-1 text-capitalize" type="button" (click)="get_notifications(page)">Search</button>
          </div>
        </div>
        <ul class="col-12">
          <li class="col-12 p-3 border-bottom p-3 row m-0 align-items-center " *ngFor="let notification of notifications">
              <a class="color-inherit break-word col-12 d-flex f-wrap align-items-center"
                href="javascript:void(0)">
                <img src="{{notification.user_by_details?.original_profile}}"
                  class="border-1 w-h-40 o-cover userimg-dash position-absolute l-0 rounded-circle" />
                <div class="col-12 col-sm-3 pl-5">
                  <h6 class="mb-2 text-capitalize">{{notification.user_by_details?.fullName}}</h6>
                  <p class="mb-2 mb-sm-0 text-black-50 font-9">{{notification?.createdAt | date:'shortDate'}}</p>
                </div>
                <div class="col-sm-6 col-12 pl-4 justify-content-center">
                  <p class="mb-0" [ngClass]="[notification?.is_read == 0 ? 'bold_font' : '']">{{notification?.message}}</p>
                  <p class="my-2 mb-sm-0 text-black-50 font-9" [ngClass]="[notification?.is_read == 0 ? 'bold_font' : '']">
                    {{notification.list_details?.title}} <span
                      *ngIf="notification?.reservation_id != undefined">({{notification.reservation_details?.startdate * 1000 | date:'mediumDate'}}
                      - {{notification.reservation_details?.enddate * 1000 | date:'mediumDate'}})</span></p>
                </div>
                <div class="col-12 pl-4 col-sm-2" *ngIf="notification?.reservation_id != undefined">
                  <h6 class="text-capitalize" *ngIf="notification?.reservation_details?.status != 'guest_review'"
                    [ngClass]="[notification?.reservation_details?.status == 'pending' ? 'orange-text' : '', notification?.reservation_details?.status == 'startdate' ? 'light-green-text' : '', notification?.reservation_details?.status == 'enddate' ? 'green-text' : '', notification?.reservation_details?.status == 'expired' ? 'black-text' : '', notification?.reservation_details?.status == 'accepted' ? 'green-text' : '', notification?.reservation_details?.status == 'completed' ? 'green-text' : '', notification?.reservation_details?.status == 'declined' ? 'red-text' : '']">
                    {{notification?.reservation_details?.status}}</h6>
                  <h6 class="text-capitalize orange-text" *ngIf="notification?.reservation_details?.status == 'guest_review'">
                    Waiting for Host review</h6>
                  <p class="mb-2 mb-sm-0">$ {{notification?.reservation_details?.total_amount}}</p>
                </div>
              </a>
          </li>
          <div class="z-depth-1 white p-3" *ngIf="notifications?.length === 0">No notifications found</div>
                <nav aria-label="Page navigation example" class="mt-5">
                    <ul *ngIf="pages && pages?.length > 1" class="pagination justify-content-end f-wrap">
                        <li class="page-item" [ngClass]="{disabled:current === 1}">
                            <a class="page-link" mdbWavesEffect (click)="get_notifications(1)"><i class="material-icons">first_page</i></a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:current === 1}">
                            <a class="page-link" mdbWavesEffect (click)="get_notifications(current - 1)"><i class="material-icons">navigate_before</i></a>
                        </li>
                        <li class="page-item mt-1" *ngFor="let page of pages" [ngClass]="{active:current === page}">
                            <a class="page-link" mdbWavesEffect (click)="get_notifications(page)">{{page}}</a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:current === totalPages}">
                            <a class="page-link" mdbWavesEffect (click)="get_notifications(current + 1)"><i class="material-icons">navigate_next</i></a>
                        </li>
                        <li class="page-item" [ngClass]="{disabled:current === totalPages}">
                            <a class="page-link" mdbWavesEffect (click)="get_notifications(totalPages)"><i class="material-icons">last_page</i></a>
                        </li>
                    </ul>
          </nav>
        </ul>
      </div>
    </div>
  </div>
</div>