<div class="white py-3">
  <div class="list-group list-group-flush">
      <a routerLink="admin/dashboard" [ngClass]="[secondSegment == 'dashboard' ? 'primary-text-color' : '']" class="list-group-item rounded d-flex border-0 align-items-center list-group-item-action waves-effect font-9">
          <i class="material-icons mr-3 font-12">dashboard</i>Dashboard
      </a>
      <a routerLink="admin/car" [ngClass]="[secondSegment == 'car' ? 'primary-text-color' : '']" class="list-group-item rounded d-flex border-0 align-items-center list-group-item-action waves-effect font-9">
          <i class="material-icons mr-3 font-12">directions_car</i>Car info
      </a>
      <a routerLink="admin/users" [ngClass]="[secondSegment == 'users' ? 'primary-text-color' : '']" class="list-group-item rounded d-flex border-0 align-items-center list-group-item-action waves-effect font-9">
          <i class="material-icons mr-3 font-12">group</i>Users
      </a>
      <a routerLink="admin/notifications" [ngClass]="[secondSegment == 'notifications' ? 'primary-text-color' : '']" class="list-group-item rounded d-flex border-0 align-items-center list-group-item-action waves-effect font-9">
          <i class="material-icons mr-3 font-12">notifications</i>Notifications
      </a>
      <a routerLink="admin/bookings" [ngClass]="[secondSegment == 'bookings' ? 'primary-text-color' : '']" class="list-group-item rounded d-flex border-0 align-items-center list-group-item-action waves-effect font-9">
          <i class="material-icons mr-3 font-12">business_center</i>Bookings
      </a>
  </div>
</div> 