<div class="col-12 p-0 mt-5">
  <div class="container p-0">
    <div class="row m-0">
      <div class="col-12" id="no-more-tables">
        <div class="col-12 px-0 border-1 mb-3 rounded white">
          <div class="row m-0 col-12 align-items-center p-0">
            <div class="d-inline-block w-100">
              <h5 class="dark-text-color m-0 p-3">Reservation Management</h5>
            </div>
            <div class="d-flex px-3">
              <mat-form-field appearance="outline" class="w-100 font-9 mw-200">
                <mat-label>Search by user</mat-label>
                <mat-select class="text-capitalize" [(ngModel)]="selected_user" (selectionChange)="get_all_reservations(page)">
                  <mat-option value=''>All</mat-option>
                  <mat-option class="text-capitalize" *ngFor="let total_user of total_users" [value]="total_user.user_details.id">
                    {{total_user.user_details.fname}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <table mat-table [dataSource]="data" class="mat-elevation-z0 w-100">
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Fullname </th>
              <td data-title="Fullname" mat-cell *matCellDef="let element"
                class="py-2 align-items-center dark-text-color border-0">
                <p class="mb-1 dark-text-color">{{element.user_details.fullName}}</p>
              </td>
            </ng-container>
            <ng-container matColumnDef="email">
              <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Email </th>
              <td data-title="Email" mat-cell *matCellDef="let element"
                class="py-2 align-items-center page_content dark-text-color border-0">
                <p class="mb-1 dark-text-color">{{element.user_details.email}}</p>
              </td>
            </ng-container>
            <ng-container matColumnDef="model">
              <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Car model </th>
              <td data-title="Car model" mat-cell *matCellDef="let element"
                class="py-2 align-items-center page_content dark-text-color border-0">
                <p class="mb-1 dark-text-color">{{element.car_details.model}}</p>
              </td>
            </ng-container>
            <ng-container matColumnDef="terms">
              <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Terms </th>
              <td data-title="Terms" mat-cell *matCellDef="let element"
                class="py-2 align-items-center page_content dark-text-color border-0">
                <p class="mb-1 dark-text-color">{{element.terms}} term(s)</p>
              </td>
            </ng-container>
            <ng-container matColumnDef="startdate">
              <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Start date </th>
              <td data-title="Start date" mat-cell *matCellDef="let element"
                class="py-2 align-items-center page_content dark-text-color border-0">
                <p class="mb-1 dark-text-color">{{element.startdate*1000 | date: 'dd/MM/yyyy'}}</p>
              </td>
            </ng-container>
            <ng-container matColumnDef="enddate">
              <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> End date </th>
              <td data-title="End date" mat-cell *matCellDef="let element"
                class="py-2 align-items-center page_content dark-text-color border-0">
                <p class="mb-1 dark-text-color">{{element.enddate*1000 | date: 'dd/MM/yyyy'}}</p>
              </td>
            </ng-container>
            <ng-container matColumnDef="month_price">
              <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Monthly price </th>
              <td data-title="Monthly price" mat-cell *matCellDef="let element"
                class="py-2 align-items-center page_content dark-text-color border-0">
                <p class="mb-1 dark-text-color">${{element.month_price}}</p>
              </td>
            </ng-container>
            <ng-container matColumnDef="total_price">
              <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Total Price </th>
              <td data-title="Total Price" mat-cell *matCellDef="let element"
                class="py-2 align-items-center page_content dark-text-color border-0">
                <p class="mb-1 dark-text-color">${{element.total_amount}}</p>
              </td>
            </ng-container>
            <tr mat-header-row class="border-top" *matHeaderRowDef="displayedColumns">
              <td>asdf</td>
            </tr>
            <tr class="bdr-btm" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
          <div class="text-center p-3" *ngIf="data?.length === 0">No records found</div>
          <nav aria-label="Page navigation example" class="mt-5">
            <ul *ngIf="pages && pages.length > 1" class="pagination justify-content-end f-wrap">
              <li class="page-item" [ngClass]="{disabled:current === 1}">
                <a class="page-link" mdbWavesEffect (click)="get_all_reservations(1)"><i
                    class="material-icons">first_page</i></a>
              </li>
              <li class="page-item" [ngClass]="{disabled:current === 1}">
                <a class="page-link" mdbWavesEffect (click)="get_all_reservations(current - 1)"><i
                    class="material-icons">navigate_before</i></a>
              </li>
              <li class="page-item mt-1" *ngFor="let page of pages" [ngClass]="{active:current === page}">
                <a class="page-link" mdbWavesEffect (click)="get_all_reservations(page)">{{page}}</a>
              </li>
              <li class="page-item" [ngClass]="{disabled:current === totalPages}">
                <a class="page-link" mdbWavesEffect (click)="get_all_reservations(current + 1)"><i
                    class="material-icons">navigate_next</i></a>
              </li>
              <li class="page-item" [ngClass]="{disabled:current === totalPages}">
                <a class="page-link" mdbWavesEffect (click)="get_all_reservations(totalPages)"><i
                    class="material-icons">last_page</i></a>
              </li>
            </ul>
          </nav>
        </div>
      </div>
    </div>
  </div>
</div>
<ng-template #deleteModal>
  <h4 class="mt-2">Delete User</h4>
  <p>Are you sure you want to delete this User?</p>
  <div class="d-flex">
    <button type="button" class="btn rounded grey lighten-2 mr-3 p-3 black-text l-h-normal bold_font" mat-button
      (click)=closeConfirmation()>Cancel</button>
    <button type="button" [ngClass]="{disabled:delete_btn_loading}"
      class="btn rounded py-3 px-4 text-uppercase elegant-color-dark ml-auto white-text bold_font l-h-normal font-9"
      mat-button (click)=deleteUser(false)>
      <mat-progress-spinner *ngIf="delete_btn_loading" [color]="spinner_color" [mode]="spinner_mode"
        [diameter]="spinner_value"></mat-progress-spinner>
      <span *ngIf="!delete_btn_loading">Delete</span>
    </button>
  </div>
</ng-template>