<div class="col-12 p-0">
    <div class="container p-0">
        <div class="row m-0">
            <div class="col-12" id="no-more-tables">
                <div class="col-12 p-0 dash-top-section mt-5 mb-3">
                    <a routerLink="/admin/car" routerLinkActive="active" class="linkactive border-1 l-h-28 rounded py-1 px-2 d-inline-block color-inherit mb-2 mr-2 font-9">Manage cars</a>
                    <a routerLink="/admin/make" routerLinkActive="active" class="linkactive border-1 l-h-28 rounded py-1 px-2 d-inline-block color-inherit mb-2 mr-2 font-9">Manage make</a>
                    <a routerLink="/admin/image_category" routerLinkActive="active" class="linkactive border-1 l-h-28 rounded py-1 px-2 d-inline-block color-inherit mb-2 mr-2 font-9">Manage image Category</a>
                </div>
                <div class="col-12 px-0 border-1 mb-3 rounded white">
                    <div class="row m-0 col-12 align-items-center p-0">
                        <div class="d-inline-block">
                            <h5 class="dark-text-color m-0 p-3">Car Management</h5>
                        </div>
                    </div>
                    <table mat-table [dataSource]="data" class="mat-elevation-z0 w-100">
                        <ng-container matColumnDef="make_title">
                            <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Make </th>
                            <td data-title="Make" mat-cell *matCellDef="let element" class="py-2 align-items-center dark-text-color border-0">
                                <p class="mb-1 dark-text-color">{{element.make_title.name}}</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="make_logo">
                            <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Make logo </th>
                            <td data-title="Make logo" mat-cell *matCellDef="let element" class="py-2 align-items-center page_content dark-text-color border-0">
                                <p class="mb-1 dark-text-color">
                                    <img src="{{element.make_title.makephoto}}" class="w-50x" />
                                </p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="model_name">
                            <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Model name </th>
                            <td data-title="Model name" mat-cell *matCellDef="let element" class="py-2 align-items-center page_content dark-text-color border-0">
                                <p class="mb-1 dark-text-color">{{element.model}}</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="fuel_type">
                            <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Fuel type </th>
                            <td data-title="Fuel type" mat-cell *matCellDef="let element" class="py-2 align-items-center page_content dark-text-color border-0">
                                <p class="mb-1 dark-text-color text-capitalize">{{element.fuel_type}}</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="transmission_type">
                            <th mat-header-cell *matHeaderCellDef class="head w-70 grey lighten-4 sub-text-color"> Transmission type </th>
                            <td data-title="Transmission type" mat-cell *matCellDef="let element" class="py-2 align-items-center page_content dark-text-color border-0">
                                <p class="mb-1 dark-text-color text-capitalize">{{element.transmission_type}}</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="status">
                            <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Status </th>
                            <td data-title="Status" mat-cell *matCellDef="let element" class="py-2 align-items-center dark-text-color border-0">
                                <p class="mb-1 green-text" *ngIf="element.status">Active</p>
                                <p class="mb-1 red-text" *ngIf="!element.status">Inactive</p>
                            </td>
                        </ng-container>
                        <ng-container matColumnDef="action">
                            <th mat-header-cell *matHeaderCellDef class="head grey lighten-4 sub-text-color"> Action </th>
                            <td data-title="Action" class="py-2 border-0" mat-cell *matCellDef="let element">
                                <button type="button" matTooltip="Edit" matTooltipPosition="above" class="p-0 outline-0 bold_font m-w-auto mr-2" mat-button routerLink="edit/{{element._id}}"><i
                    class="material-icons primary-text-color">edit</i></button>
                                <button type="button" matTooltip="Delete" matTooltipPosition="above" class="p-0 outline-0 bold_font m-w-auto" (click)="deleteConfirmation(deleteModal,element._id)" mat-button><i class="material-icons primary-text-color font-11">delete</i></button>
                            </td>
                        </ng-container>
                        <tr mat-header-row class="border-top" *matHeaderRowDef="displayedColumns">
                            <td>asdf</td>
                        </tr>
                        <tr class="bdr-btm" mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                    </table>
                    <div class="text-center p-3" *ngIf="data?.length === 0">No records found</div>
                    <nav aria-label="Page navigation example" class="mt-5">
                        <ul *ngIf="pages && pages.length > 1" class="pagination justify-content-end f-wrap">
                            <li class="page-item" [ngClass]="{disabled:current === 1}">
                                <a class="page-link" mdbWavesEffect (click)="get_cars(1)"><i
                    class="material-icons">first_page</i></a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:current === 1}">
                                <a class="page-link" mdbWavesEffect (click)="get_cars(current - 1)"><i
                    class="material-icons">navigate_before</i></a>
                            </li>
                            <li class="page-item mt-1" *ngFor="let page of pages" [ngClass]="{active:current === page}">
                                <a class="page-link" mdbWavesEffect (click)="get_cars(page)">{{page}}</a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:current === totalPages}">
                                <a class="page-link" mdbWavesEffect (click)="get_cars(current + 1)"><i
                    class="material-icons">navigate_next</i></a>
                            </li>
                            <li class="page-item" [ngClass]="{disabled:current === totalPages}">
                                <a class="page-link" mdbWavesEffect (click)="get_cars(totalPages)"><i
                    class="material-icons">last_page</i></a>
                            </li>
                        </ul>
                    </nav>
                    <div class="col-12 text-right py-4">
                        <button mat-button class="outline-0 btn rounded py-3 px-4 font-9 mr-3 text-uppercase elegant-color-dark white-text l-h-normal" routerLink="add">Add More</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<ng-template #deleteModal>
    <h4 class="mt-2">Delete Car</h4>
    <p>Are you sure you want to delete this car?</p>
    <div class="d-flex">
        <button type="button" class="btn rounded grey lighten-2 mr-3 p-3 black-text l-h-normal bold_font" mat-button (click)=closeConfirmation()>Cancel</button>
        <button type="button" [ngClass]="{disabled:delete_btn_loading}" class="btn rounded py-3 px-4 text-uppercase elegant-color-dark ml-auto white-text bold_font l-h-normal font-9" mat-button (click)=deleteCar()>
      <mat-progress-spinner *ngIf="delete_btn_loading" [color]="spinner_color" [mode]="spinner_mode"
        [diameter]="spinner_value"></mat-progress-spinner>
      <span *ngIf="!delete_btn_loading">Delete</span>
    </button>
    </div>
</ng-template>